<ActionBar title="Editar usuario" icon="" class="action-bar">
    <NavigationButton icon="font://&#xf060;" class="fas fas-size-ab" (tap)="goBack()"></NavigationButton>
</ActionBar>
<ScrollView orientation="vertical">
    <StackLayout class="p-20">
        <form [formGroup]="this.form" action="">
            <!-- #region Nombre-->
            <Label text="Nombre" textWrap="true" width="100%"></Label>
            <TextField formControlName="name" hint="Escribe tu nombre" text="" width="100%"></TextField>
            <div *ngIf="this.nameField.errors && this.nameField.dirty">
                <Label *ngIf="this.nameField.hasError('required')" text="Nombre requerido" class="errorText"
                    textWrap="true"></Label>
            </div>
            <!-- #endregion -->

            <!-- #region Apellido-->
            <Label text="Apellido" textWrap="true" width="100%"></Label>
            <TextField formControlName="lastname" hint="Escribe tu primer apellido" text="" width="100%"></TextField>
            <div *ngIf="this.lastnameField.errors && this.lastnameField.dirty">
                <Label *ngIf="this.lastnameField.hasError('required')" text="Apellido requerido" class="errorText"
                    textWrap="true"></Label>
            </div>
            <!-- #endregion -->

            <!-- #region Edad-->
            <Label text="Edad" textWrap="true" width="100%"></Label>
            <TextField keyboardType="phone" formControlName="age" hint="Escribe tu edad" text="" width="100%">
            </TextField>
            <div *ngIf="this.ageField.errors && this.ageField.dirty">
                <Label *ngIf="this.ageField.hasError('required')" text="La edad es requerida" class="errorText"
                    textWrap="true"></Label>
                <div *ngIf="!this.ageField.hasError('pattern')">
                    <Label *ngIf="this.ageField.hasError('min')" text="La edad debe ser igual o mayor a 18"
                        class="errorText" textWrap="true"></Label>
                    <Label *ngIf="this.ageField.hasError('max')" text="La edad debe ser igual o menor a 100"
                        class="errorText" textWrap="true"></Label>
                </div>
                <Label *ngIf="this.ageField.hasError('pattern')" text="Edad inválida" class="errorText"
                    style="margin-top: 0;" textWrap="true"></Label>
            </div>
            <!-- #endregion -->

            <!-- #region País-->
            <Label text="País" textWrap="true" width="100%"></Label>
            <TextField formControlName="country" hint="Escribe tu País" text="" width="100%"></TextField>
            <div *ngIf="this.countryField.errors && this.countryField.dirty">
                <Label *ngIf="this.countryField.hasError('required')" text="País requerido" class="errorText"
                    textWrap="true"></Label>
            </div>
            <!-- #endregion -->
        </form>
        <Button [isEnabled]="this.form.invalid ? false : true" class="button" text="Guardar"
            (tap)="updateUser()"></Button>
    </StackLayout>
</ScrollView>