/* Add mobile styles for the component here.  */
.list-group {
    margin-top: 10px;
}

.list-group-item {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16;
}

.btn-list-group {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    text-decoration: none;
}

/* Botón flotante */

.flt-btn-layout {
    margin-top: 80%;
    margin-left: 70%;
}

.float-btn {
    background-color: #00caab;
    border-radius: 100%;
    width: 56;
    height: 56;
    text-align: center;
    vertical-align: middle;
}

.flt-btn-text {
    color: #fff;
    font-size: 36;
}