<StackLayout *ngIf="isBusy === true" height="100%" class="activityIndicator">
    <ActivityIndicator [busy]="isBusy" color="green" width="65" height="65"></ActivityIndicator>
</StackLayout>
<!-- Tabs -->
<Tabs selectedIndex="0" tabsPosition="bottom" swipeEnabled="true" *ngIf="isBusy === false">
    <TabStrip>
        <TabStripItem>
            <Label text="Inicio"></Label>
            <Image src="font://&#xf015;" class="fas"></Image>
        </TabStripItem>
        <TabStripItem class="special">
            <Label text="Cuenta"></Label>
            <Image src="font://&#xf007;" class="fas"></Image>
        </TabStripItem>
    </TabStrip>
    <TabContentItem>
        <GridLayout>
            <Label text="Home Page" class="h2 text-center"></Label>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <GridLayout rows="*, 50" columns="*">
                <div row="0">
                    <Label text="Account Page" class="h2 text-center"></Label>
                </div>
                <Button row="1" text="&#xf2f5;    Cerrar sesión" class="fas" (tap)="logOut()"></Button>
            </GridLayout>
        </GridLayout>
    </TabContentItem>
</Tabs>