TabStripItem {
    background-color: #00caab;
    color: #FFFFFF;
    font-size: 15;
}

TabStripItem:active {
    color: #FFFFFF;
}

Button {
    android-elevation: 0;
    width: 100%;
    height: 100%;
    font-size: 15;
    margin: 0;
    /* text-align: center; */
}

.activityIndicator {
    vertical-align: center;
}