/* Add mobile styles for the component here.  */
.flt-btn-layout {
    margin-top: 80%;
    margin-left: 70%;
}

.container-info {
    background-color: #00caab;
}

.title {
    margin-top: 70px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 18;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    text-transform: uppercase;
    border-color: #fff;
    border-width: 1 0 1 0;
}

.subtitle {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 16;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

.title-students-list {
    margin-top: 30px;
    font-size: 20;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-color: #000;
    border-width: 0 0 1 0;
}

.list-group-item {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16;
}