<ActionBar title="Iniciar sesión" icon="" class="action-bar">
</ActionBar>
<ActivityIndicator [busy]="isBusy" color="green" width="65" height="65"></ActivityIndicator>
<ScrollView *ngIf="isBusy == false" orientation="vertical">
  <StackLayout class="p-20">
    <form [formGroup]="this.form" action="">
      <!-- #region Usuario -->
      <Label text="Matrícula" width="100%" textWrap="true"></Label>
      <TextField keyboardType="phone" formControlName="matricule" hint="Ingrese su matrícula" text="" width="100%">
      </TextField>
      <div *ngIf="this.matriculeField.errors && this.matriculeField.dirty">
        <Label *ngIf="this.matriculeField.hasError('required')" text="Matrícula requerida" class="errorText"
          textWrap="true"></Label>
        <div *ngIf="!this.matriculeField.hasError('pattern')">
          <Label *ngIf="this.matriculeField.hasError('minlength') || this.matriculeField.hasError('maxlength')"
            text="La matrícula debe tener diez dígitos" textWrap="true" class="errorText"></Label>
        </div>
        <Label *ngIf="this.matriculeField.hasError('pattern')" text="Matrícula inválida" textWrap="true"
          class="errorText"></Label>
      </div>
      <!-- #endregion -->

      <!-- #region Contraseña-->
      <Label text="Contraseña" width="100%" textWrap="true"></Label>
      <TextField formControlName="password" hint="Ingrese su contraseña" text="" secure="true" width="100%"></TextField>
      <div *ngIf="this.passwordField.errors && this.passwordField.dirty">
        <Label *ngIf="this.passwordField.hasError('required')" text="Contraseña requerida" class="errorText"
          textWrap="true"></Label>
      </div>
      <!-- #endregion -->
    </form>
    <Button [isEnabled]="this.form.invalid ? false : true" text="Ingresar" (tap)="logIn()" class="button"></Button>
  </StackLayout>
</ScrollView>