<ActionBar title="Iniciar sesión" icon="" class="action-bar">
</ActionBar>
<ActivityIndicator [busy]="isBusy" color="green" width="65" height="65"></ActivityIndicator>
<ScrollView *ngIf="isBusy == false" orientation="vertical">
  <StackLayout class="p-20">
    <form [formGroup]="this.form" action="">
      <!-- #region Usuario -->
      <Label text="Usuario" width="100%" textWrap="true"></Label>
      <TextField formControlName="user" hint="Ingrese su usario" text="" width="100%"></TextField>
      <div *ngIf="this.userField.errors && this.userField.dirty">
        <Label *ngIf="this.userField.hasError('required')" text="Usuario requerido" class="errorText"
          textWrap="true"></Label>
      </div>
      <!-- #endregion -->

      <!-- #region Contraseña-->
      <Label text="Contraseña" width="100%" textWrap="true"></Label>
      <TextField formControlName="password" hint="Ingrese su contraseña" text="" secure="true" width="100%"></TextField>
      <div *ngIf="this.passwordField.errors && this.passwordField.dirty">
        <Label *ngIf="this.passwordField.hasError('required')" text="Contraseña requerida" class="errorText"
          textWrap="true"></Label>
      </div>
      <!-- #endregion -->
    </form>
    <Button text="Ingresar" (tap)="logIn()" class="button"></Button>
  </StackLayout>
</ScrollView>