<ActionBar title="Lista de cursos" icon="" class="action-bar">
    <NavigationButton icon="font://&#xf060;" class="fas fas-size-ab" (tap)="goBack()"></NavigationButton>
</ActionBar>
<ActivityIndicator [busy]="this.isBusy" color="green" width="65" height="65"></ActivityIndicator>
<StackLayout class="p-10" *ngIf="isBusy === false">
    <ListView [items]="coursesData" class="list-group" height="100%" width="100%" (itemTap)="onItemTap($event)">
        <ng-template let-item="item" let-odd="odd" let-even="even">
            <ListView.itemTemplate>
                <StackLayout>
                    <Label [text]="item.name" class="list-group-item"></Label>
                </StackLayout>
            </ListView.itemTemplate>
        </ng-template>
    </ListView>
</StackLayout>
<StackLayout class="flt-btn-layout" (touch)="onTouch()">
    <app-floating-button></app-floating-button>
</StackLayout>